# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#################
## Dependencies ##
#################

node_modules/
**/node_modules/     # Catches nested node_modules, like inside mobile/

################
## IDE Folders ##
################

.idea/
.vscode/

############
## Expo ##
############

.expo/
dist/
web-build/
expo-env.d.ts

##################
## Android/Native ##
##################

.android/
.gradle/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

################
## Metro Bundler ##
################

.metro-health-check*

###############
## Debug Files ##
###############

npm-debug.*
yarn-debug.*
yarn-error.*

################
## macOS Junk ##
################

.DS_Store
*.pem

##################
## Local Env Files ##
##################

.env*.local

##################
## TypeScript Build ##
##################

*.tsbuildinfo

##################
## Project-Specific ##
##################

app-example/
mobile/.expo/
mobile/node_modules/
backend/node_modules/

.env
.env.*
mobile/.env

